# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jhasm\Documents\UAGRM - FICCT\4 - ESTRUCTURA DE DATOS I\Ing Campos\U.A.G.R.M.-Estructura_Datos_I-ItelliJ_IDEA\EstructuraDatosI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
