# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\devel\Documents\UAGRM - FICCT\GITHUB - REPOSITORIOS FICCT\4 - ESTRUCTURA DE DATOS I\U.A.G.R.M.-Estructura_Datos_I-ItelliJ_IDEA\parciales\parcial3\pregunta1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
