# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\devel\Desktop\U.A.G.R.M.-Estructura_Datos_I-ItelliJ_IDEA\Practicas\tdaOperacionesAritmeticas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
